#w{
    border-radius:5%;
   background-color: rgb(255, 233, 159);
   border: none;
   position: absolute;
   left: 37%;
   top: 10%;
}

#p{
    border-radius:5%;
    background-color: rgb(255, 233, 159);
    border: none;
    position: absolute;
    left: 50%;
    top:10%;
}

#b{
    border-radius:100%;
    color: rgb(255, 255, 255);
    background-color: rgb(153, 12, 12);
    border: none;
    position: absolute;
    left: 45.5%;
    top:13%;
    width: 5%;
    height: 3%;
    font-size: 80%;

}

#result{
    position: absolute;
    left: 41%;
    color: #ffffff;

}