body{
    background-color: rgb(36, 32, 32);
}

.ppp{
  background-color:rgb(175, 36, 36);
  border: none;
width: 12%;
height: auto;
position: absolute;
top: 13%;
left: 50.2%;

}

input{
    background-color: burlywood;
    border: none;
    width: 27%;
    height: auto;
    position: absolute;
    top: 10%;
    left: 35%;
}

.pppe{
    background-color:rgb(175, 36, 36);
    border: none;
  width: 12%;
  height: auto;
  position: absolute;
  top: 13%;
  left: 35%;
  
  }

  p{
   color: forestgreen;
   position: absolute;
   left: 37.5%;
  }

